@import '../template_files/stylus/imports'
@import 'nib'

// Declare all fonts first
fonts(open-sans)
fonts(play)
fonts(source-sans-pro)
fonts(blockletter)
iconfont()
// Now declare global reset and all dependencies: base, headings, forms, etc
global-reset()
base()
headings()
forms()
forms-segments()
widgets()
mobile()
segments()
responsive-segments()
demo()

// edit()

body, *
	font-family: open-sans
h1
h2
h3
h4
h5
h6
	font-family: open-sans

#siteWrapper
	background-color: white

// Begin your custom styles here!

segment = 269

.special .panel
	padding-top: 55px

#branding
	position: relative
	margin: 0 auto 110px
	width: 440px
	img
		position: absolute
		left: 0
		right: 0
		top: -43px
		margin: auto
		width: 145px
		opacity: 0.06
		z-index: 1

#troop
	position: relative
	float: left
	font-family: source-sans-pro
	font-weight: 700
	font-size: 5rem
	color: #cacaca
	width: 213px
	z-index: 2

#troopClassifiers
	position: relative
	float: left
	z-index: 2

#troopNumber
	margin-top: 6px
	font-family: open-sans
	font-weight: 800
	color: #7d7d7d
	font-size: 2.6rem

#tagline
	font-family: open-sans
	color: #5e5e5e
	font-size: 1.7rem
	color: #6f97b1

.modal.window
	height: 45% !important

#scoutWrapper
#barsWrapper
#shadowBarsWrapper
	margin-top: 41px

.rank h4
	// margin-top: 10px
	font-size: 1.5rem

.rank-content
	line-height: 1.6

#modalWindow h3
	font-size: 1.4rem
	margin-bottom: 20px
	color: #969696

h3 .semi
	display: inline-block
	font-size: 1.6em
	font-weight: 600

#scoutWrapper
	position: relative
	float: left
	width: 120px
	margin-bottom: 60px

#progressWrapper
	float: left
	position: relative
	overflow-x: auto
	width: 890px
	z-index: 1
	// box-shadow: inset -30px 10px 95px -6px rgba(0,0,0,0.1)

#rankWrapper
	position: absolute
	top: 0
	left: 0
	width: ((segment * 7) + 7 + 3)px
	background: transparent;
	pointer-events: none
	z-index: 3

#barsWrapper
	position: relative
	z-index: 2

#shadowBarsWrapper
	position: absolute
	top: 0
	left: 0
	z-index: 1

.shadow-progress-bar
	margin-bottom: 25px
	height: 26px
	width: ((segment * 7) + 7)px
	&.selected
		background-color: #eee

.rank
	position: relative
	float: left
	height: 373px
	width: (segment)px
	&:after
		content: ""
		position: absolute
		width: 1px
		background-color: #d2d2d2
		right: 0
		top: 0
		bottom: 0
	&:last-child
		&:after
			background-color: transparent

.scout
	margin-bottom: 25px
	&:after
		content: ""
		display: table
		clear: both

.scout .name
	padding: 5px 20px
	border-radius: 100px 0 0 100px
	width: 80px
	color: white
	letter-spacing: 1px
	background-color: #4e4e4e
	text-align: right
	cursor: pointer
	&.selected
		background-color: #b30164 // 960101, 6d00b1, 8100ab, b30164

.progress-bar
	margin-bottom: 25px
	height: 26px
	width: ((segment * 7) + 7)px
	.fragment
		position: relative
		float: left
		height: 26px
		&.completed
			background-color: #3eadff // 199eff, 3eadff, 43aefd

.progress-bar.selected
	.fragment
		cursor: pointer
		&:after
			content: ""
			position: absolute
			right: 0
			top: 0
			bottom: 0
			width: 1px
			background-color: white

.progress-bar.selected
	.fragment.completed
		background-color: #1d79ec
		&:after
			content: ""
			position: absolute
			right: 0
			top: 0
			bottom: 0
			width: 1px
			background-color: rgba(255,255,255,0.25)

.scout .name
.progress-bar .fragment
.shadow-progress-bar
	transition: all 0.17s ease-in-out

#shadowCast
	position: relative
	float: left
	height: 390px
	// width: 80px
	// margin-left: -80px
	margin-left: -8px
	// background: url(/images/shadow-tile.png) repeat-y
	z-index: 10
	border-right: 8px solid #f3f3f3
	// box-shadow: inset -13px 0 35px rgba(0,0,0,0.06)

.label
	position: absolute
	margin-top: -11px
	width: 15px
	font-size: 0.65rem
	text-align: center
	opacity: 0
	transition: all 0.2s ease-in-out

.show-keys .selected .label
	opacity: 1

#keysTrigger
	position: absolute
	top: -40px
	right: 10px
	width: 26px
	height: 20px
	padding-top: 6px
	text-align: center
	border-radius: 100px
	background-color: #ddd
	font-family: arial, sans-serif
	color: white
	transition: all 0.2s ease-in-out
	cursor: pointer

#keysTrigger:after
	content: ""
	position: absolute
	top: -4px
	left: -4px
	width: 30px
	height: 30px
	border: 2px solid
	border-color: #ddd
	border-radius: 100px
	transition: all 0.27s ease-in-out

#keysTrigger.show
	background-color: #1f78ec

#keysTrigger.show:after
	border-color: #1f78ec

.rank-content
	line-height: 1.6

.close-modal
	color: #1f78ec

// #progressWrapper:after
// 	content: ""
// 	position: absolute
// 	width: 45px
// 	right: 0
// 	top: 0
// 	bottom: 0
// 	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,000000+100&0+0,0.05+66,0.08+100 */
// 	background: -moz-linear-gradient(left, rgba(30,87,153,0) 0%, rgba(10,30,52,0.05) 66%, rgba(0,0,0,0.08) 100%); /* FF3.6-15 */
// 	background: -webkit-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(10,30,52,0.05) 66%,rgba(0,0,0,0.08) 100%); /* Chrome10-25,Safari5.1-6 */
// 	background: linear-gradient(to right, rgba(30,87,153,0) 0%,rgba(10,30,52,0.05) 66%,rgba(0,0,0,0.08) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

.cf:after
	content: ""
	display: table
	clear: both
